<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{% include "source/_includes/components/head-meta-tags.njk" %}

	{% include "source/_includes/components/head-css-tags.njk" %}
</head>
<body>

<div class="container">
	{% set headerClasses = "row no-gutters align-items-center justify-content-between" %}
	{% set headerClassesPage = "border-bottom mb-5" %}
	<header class="{{ headerClasses}} {% if page.url !== "/" %}{{ headerClassesPage }}{% endif %}">
		<a href="/" class="mr-auto text-decoration-none header-logo">
			<h1 class="mb-0">CIX, Inc</h1>
		</a>

		<a href="/about/" class="header-link">About Us</a>
		<a href="/services/" class="header-link">Services</a>
		<a href="/news/" class="header-link">News</a>
		<a href="/contact/" class="header-link">Contact Us</a>
	</header><!-- end row -->

	<main>
		{{ content | safe }}
	</main>

	<footer></footer>
</div><!-- end container -->


{% include "source/_includes/components/footer-js-tags.njk" %}

</body>
</html>
